
@{ 
    ViewBag.Title = "error 404";
}
<div class="alert alert-danger mb-1 mt-1" >
    <h4>not fount employe that his id is @Model</h4>
</div>
<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">click here to go employess</a>