@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    @{ 
        if (ViewBag.ErrorTitle != null)
        {
        <h2>@ViewBag.ErrorTitle</h2>    
        <h3>@ViewBag.ErrorMessage</h3>
        }
    }
